body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
   
}
.orange-class{
    color: orangered;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.flex-box{
    padding-left: 2%;
    width: 50%;
    margin: 5%;
}
.flex-box img{
    width: 80%;
    
}
.hire-btn{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.top-banner1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
