body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
   
}
h2{
    font-size: 35px;
}
.orange-class{
    color: orangered;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.flex-box{
    padding-left: 2%;
    width: 50%;
    margin: 5%;
}
.flex-box img{
    width: 80%;
    
}
.hire-btn{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item{
    border-radius: 5px;
    text-align: justify;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;
    
    
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
.justify-c{
    text-align: justify;
}
#full-dev{
    border-left: 7px solid;
    border-image: linear-gradient(teal, #d40d27);
    border-image-slice: 1;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato, blue, cyan);
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
}

/* Service Section*/
.ser-h1{
    font-size: 30px;
    margin-top: 1px;
}
.top-banner2{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 50px;
}
.secend-class{
    color:cyan
}
.third-class{
    color:chartreuse
}
.book-btn{
    width: 90px;
    background-image: linear-gradient(rgb(187, 255, 0), rgb(77, 255, 71));
    text-decoration: none;
    padding: 10px 40px;
    color: wheat;
    font-weight: 700;
}